@inject NavigationManager NavigationManager
<PageTitle>Administrador Digesett</PageTitle>




<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid top-row" href="Home">
        <!-- Logo centrado y un poco más grande -->
        <a href="Home">
            <!-- Ruta a la página de inicio -->
            <img src="imagenes/ametlogo.png" alt="Logo DIGESETT" class="logoarriba" />
        </a>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All" @onclick="() => CloseSubMenu()">
                <img src="imagenes/home-2.svg" alt="Logo DIGESETT" class="nav-icon" />
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Usuarios" @onclick="() => CloseSubMenu()">
                <img src="imagenes/userlist.png" alt="Logo DIGESETT" class="nav-icon" />
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editarUsuario" @onclick="() => CloseSubMenu()">
                <img src="imagenes/reportes.png" alt="Logo DIGESETT" class="nav-icon" />
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Reportes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isSubMenuVisible = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubMenu()
    {
        isSubMenuVisible = !isSubMenuVisible;
    }

    private void CloseSubMenu()
    {
        isSubMenuVisible = false;
    }
}
