/* Sección de filtros */
.filters-section {
    flex: 0.4; /* Limita el espacio que ocupa la sección de filtros */
    background-color: #f9f9f9;
    padding: 20px; /* Aseguramos que sea 'padding' y no 'relleno' */
    border-radius: 10px; /* Aseguramos que sea 'border-radius' y no 'radio del borde' */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Limita el tamaño máximo de la sección de filtros */
    min-width: 250px; /* Establece un ancho mínimo para que no se haga demasiado pequeña */
}

.filters-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reduce el espacio entre los filtros */
}

.filter-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; /* Reduce el espacio entre los grupos de filtros */
}

    .filter-group label {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
    }

    .filter-group .form-control {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 5px; /* Reduce el espacio entre los inputs */
    }

/* Botón de aplicar filtros */
.filter-actions {
    text-align: center;
    margin-top: 20px;
}

.apply-filters {
    padding: 10px 20px;
    background-color: #009C40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Asegurarse de que el botón no esté pegado al campo anterior */
}

    .apply-filters:hover {
        background-color: #007D2B;
    }

/* Botón para ver más filtros */
button.btn.btn-primary {
    margin-top: 10px; /* Espacio adicional para separar los filtros */
}

/* Ajuste del contenedor de los resultados y los filtros */
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px; /* Asegura un espacio adecuado entre las secciones de resultados y filtros */
}
