/* Header */
.web-sen-codigo-1 {
    display: flex;
    flex-direction: column; /* Apila header y rectangle */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la pantalla */
    background-color: white; /* Fondo opcional */
    position: relative;
}

.header {
    position: absolute; 
    top: 05px;
    left: 20px;
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.ametlogo {
    width: 80px;
    height: 80px;
    border-radius: 21px;
}

.digesett {
    font-size: 30px;
    font-family: var(--font-family-poppins);
    font-weight: bold;
    color: black;
    margin: 0; 
}

/* Rectángulo principal */
.rectangle {
    position: relative;
    width: 460px;
    height: 500px;
    background-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: visible; /* Asegura que la sombra no se recorte */
}

/* Imagen y texto */
.undrawforgot {
    width: 210px;
    height: auto;
    margin-bottom: 5px;
}

.text-1 {
    font-size: 15px;
    font-weight: bold;
    color: #5C5F62;
    margin-bottom: 24px;
}


.newPasword1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 12px;
}

.label1 {
    font-size: 13px;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    color: #64676A;
}

.input-container {
    position: relative;
    width: 280px; /* Asegúrate de que coincida con el ancho del input */
}

.input1 {
    width: 100%; /* Asegúrate de que ocupe todo el contenedor */
    height: 37px;
    background-color: transparent;
    border: 1px solid #E4E4E4;
    border-radius: 7px;
    padding: 10px;
    padding-right: 40px; /* Espacio para el ícono */
    font-size: 16px;
    box-sizing: border-box;
}

.eyeicon1 {
    position: absolute;
    top: 50%;
    right: 10px; /* Espacio del borde del input */
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    cursor: pointer;
    filter: invert(27%) sepia(5%) saturate(0%) hue-rotate(193deg) brightness(93%) contrast(88%);
}

.newPasword2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 18px;
}

.label2 {
    font-size: 13px;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    color: #64676A;
}

.input-container {
    position: relative;
    width: 280px; /* Asegúrate de que coincida con el ancho del input */
}

.input2 {
    width: 100%; /* Asegúrate de que ocupe todo el contenedor */
    height: 37px;
    background-color: transparent;
    border: 1px solid #E4E4E4;
    border-radius: 7px;
    padding: 10px;
    padding-right: 40px; /* Espacio para el ícono */
    font-size: 16px;
    box-sizing: border-box;
}

.eyeicon2 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    cursor: pointer;
    filter: invert(27%) sepia(5%) saturate(0%) hue-rotate(193deg) brightness(93%) contrast(88%);
}


/* Botón */
.btn {
    width: 280px;
    height: 37px;
    border: none;
    border-radius: 5px;
    background-color: #FD8402;
    color: white;
    border-bottom-color: gray;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}
