@inject NavigationManager NavigationManager
@inject HttpClient Http
<PageTitle>Administrador Digesett</PageTitle>
@page "/createAgente"

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <div class="container">
    <div class="header">
        <div class="back-container">
            <img @onclick=" Atras" src="imagenes/back-icon.svg" alt="Atrás" class="icon-back">
            <span class="back-text">Atrás</span>
        </div>
        <h1>Creación de Agente</h1>
      </div>


    <div class="inputs-grid">
        <div class="input-group">
            <label for="input1">Nombre</label>
            <input id="input1" type="text">
        </div>
        <div class="input-group">
            <label for="input2">Apellidos</label>
            <input id="input2" type="text">
        </div>
        <div class="input-group">
            <label for="input3">Cédula</label> <!-- Corregido: "Cedula" -> "Cédula" -->
            <input id="input3" type="text">
        </div>
        <div class="input-group">
            <label for="input4">Fecha de nacimiento</label> <!-- Corregido: Agregado "de" -->
            <input id="input4" type="text">
        </div>
        <div class="input-group">
            <label for="input5">Sexo</label>
            <input id="input5" type="text">
        </div>
        <div class="input-group">
            <label for="input6">Tipo de sangre</label>
            <input id="input6" type="text">
        </div>
        <div class="input-group">
            <label for="input7">Estado civil</label> <!-- Corregido: "Civil" en minúscula -->
            <input id="input7" type="text">
        </div>
        <div class="input-group">
            <label for="input8">Teléfono</label> <!-- Corregido: "Telefono" -> "Teléfono" -->
            <input id="input8" type="text">
        </div>
        <div class="input-group">
            <label for="input9">Lugar de trabajo</label>
            <input id="input9" type="text">
        </div>
    </div>


        <div class="last-row">
            <div class="input-group">
            <label for="input10">Usuario</label>
                <input id="input10" type="text">
            </div>
            <div class="input-group">
            <label for="input11">Contraseña</label>
                <input id="input11" type="text">
            </div>
        </div>

        <div class="buttons">
           <button class="cancel-button"> Cancelar</button>
            <button class="create-button"> Crear</button>
            
        </div>

    </div>



@code {
    private void Atras()
    {
        NavigationManager.NavigateTo("");
    }
}
