body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 20px auto; /* Centrar la página horizontalmente */
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual */
}

.header {
    text-align: center;
    background-color: white;
    color: #009C40;
    padding: 10px;
    border-color: #009C40;
    border:2px solid
}

    .header img {
        height: 100px;
    }

.content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    width: 25%; /* Establece el mismo ancho para todas las celdas de encabezado */
}

/* Alineación de la segunda celda en todas las filas */
td:nth-child(2) {
    width: 25%; /* Ancho específico para la segunda celda */
}

.datosconductotext {
    margin-top: 10px;
}

.checkbox-group {
    display: flex;
    gap: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

/* Ajuste específico para la tabla .tabla-multa2 */
.tabla-multa2 th,
.tabla-multa2 td {
    width: 25%; /* Ajusta el ancho de las celdas de la tabla .tabla-multa2 */
}
#resultadomulta {
    background: white;
    color: black;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

    .header img {
        max-width: 150px;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    width: 20%;
}

.checkbox-group label {
    margin-right: 15px;
    display: inline-block;
}

.footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
}

@@media print {
    button {
        display: none !important;
    }

    .header {
        page-break-after: avoid;
    }

    .content {
        page-break-inside: avoid;
    }
}