/* Contenedor principal que ocupa el 75% */
.ContainerPrincipal {
    width: 72%;
    margin: 20px 0;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 8px;
}

.containersecundario {
    width: 72%;
    margin: 20px 0;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 8px;
}
/* Contenedor de la columna izquierda que ocupa el 25% restante */
.ContenedorDerecho {
    width: 25%;
    margin: 20px 0;
    float: right;
    display: flex;
    flex-direction: column;
}

/* Estilo para el primer contenedor (más grande) */
.ContainerIzq1 {
    height: 250px;
    width: 100%;
    margin-bottom: 0px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.containertitulo {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;

}

.SubTextGrafico {
    font-size: 14px;
    color: #888;
    position: absolute;
    top: 220px;
    right: 10px;
}

/* Estilo para el segundo contenedor */
.ContainerIzq2, .ContainerIzq3, .ContainerIzq4 {
    height: 145px;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
}

.ContentWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.IconImage {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.TextWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.CountNumber {
    font-size: 40px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    align-self: center;
}

.SubText, .SubTexttotal {
    font-size: 14px;
    color: #888;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

.SelectStyled {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 0;
}
