@layout EmtyLayout
@inject NavigationManager NavigationManager
@inject HttpClient Http
<PageTitle>Login Admimistrador</PageTitle>
@page "/LoginAdministrador"

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<body>

    <section id="display-div">
        <div class="rectangle-green">

            <div class="login-section">

                <div class="header-login">
                    <h1>Login</h1>
                    <p>Ingresa tus datos para poder entrar a la aplicación</p>
                </div>

                <div class="usuario">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" class="input-field" />
                </div>

                <div class="password">
                    <label for="password">Contraseña</label>
                    <div class="input-wrapper">
                        <input type="@PasswordFieldType" id="password" class="input-field" />
                        <button type="button" class="password-toggle" @onclick="TogglePasswordField">👁</button>
                    </div>
                </div>


                <div class="extras">
                    <label>
                        <input type="checkbox" /> Recordar
                    </label>
                    <a @onclick="irAOlvideContrasenna" href="#">Olvidaste la contraseña?</a>
                </div>

                <button @onclick="EntrarApp" class="btn-primary">
                    Entrar
                </button>

               @*  <button class="btn-google">
                    <img src="imagenes/logodegoogle.png" alt="Google" />
                    Entrar con Google
                </button>

                <div class="register-container">
                    <p class="register">¿No tienes una cuenta? <a href="#">Crea una</a></p>
                </div> *@

            </div>
        </div>

        <div class="content">

            <h1>DIGESETT</h1>
            <img src="imagenes/ametlogo.png" alt="Logo DIGESETT" class="logo" />

        </div>

    </section>

</body>


@code {
    private string PasswordFieldType = "password";

    private void TogglePasswordField()
    {
        PasswordFieldType = PasswordFieldType == "password" ? "text" : "password";
    }

    private void EntrarApp()
    {
        NavigationManager.NavigateTo("");
    }

    private void irAOlvideContrasenna()
    {
        NavigationManager.NavigateTo("enviarAlCorreo");
    }
}


