/* Contenedor de columnas */
.container {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr; /* Ajuste de ancho de las columnas */
    gap: 10px;
    
}

/* Primera columna */
.left {
    margin-left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90px;
    height: 35px;
}
.back-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -20px; /* Mueve hacia arriba el texto y el icono */
}
.icon-back {
    margin-top: -20px;
    width: 27px;
    height: auto;
    cursor: pointer;
}
.back-text {
    margin-top: -20px;
    font-size: 16px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Segunda columna (Centro) */
.center .main-box {
    margin-right: 2px;
    width: 50vw;
    height: auto;
    max-width: 750px;
    max-height: 540px;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Media Queries para ajustar en pantallas pequeñas */
@media (max-width: 768px) {
    .center .main-box {
        width: 90%; /* Ocupa el 90% del ancho */
        margin-right: 0; /* Elimina margen derecho para pantallas pequeñas */
    }
}
.photo-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.photo-box {
    width: 120px;
    height: 130px;
   /* background-color: #d9d9d9;*/
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-list .nombre {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    position: relative; /* Asegura que el valor de .info-value1 se mantenga en la parte superior */
    margin-top: -19px;
    color: black; /* Esto lo sube 2px para que se quede más arriba respecto al texto */
}
.info-list p {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    margin-bottom: 10px; /* Margen inferior de 2px para todos los párrafos */
}

.info-list span {
    font-family: 'Inter', sans-serif;
    color: #009C40;
}
.additional-info .location {
    font-size: 12px; 
    margin-bottom: 14px; 
    margin-top: -2px; 
}
.additional-info p,
.other-data h3,
.other-data p {
    font-family: 'Inter', sans-serif;
    color: #747474;
    font-size: 10px;
    margin-bottom: 7px;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    margin-top: auto; /* Asegura que los iconos se coloquen al final del contenedor */
    margin-bottom: 3px; /* Margen inferior de 15px */
}
    .icons .icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

/* Tercera columna (Derecha) */

.right .score-box {
    margin-top: 40px;
    width: 20vw; /* Ancho relativo al viewport */
    max-width: 300px; /* Ancho máximo */
    min-width: 200px; /* Ancho mínimo */
    height: auto; /* Ajusta la altura según el contenido */
    max-height: 220px; /* Altura máxima */
    text-align: center;
    border: none;
    margin-left:10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 15px rgba(00, 50, 50, 0.2);
    background-color: #fff; /* Asegura que tenga un fondo */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .right .score-box {
        width: 90%; /* Se expande para ocupar casi toda la pantalla */
        max-width: 100%; /* No restringe el ancho */
        margin: 20px auto; /* Centrado horizontal */
    }
}
.score-box h3 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 17px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}
.score-row {
    padding: 6px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.score-row span {
        font-size: 12px;
        font-family: 'Manrope', sans-serif;
    }
.progress-bar {
    flex: 1;
    height: 10px;
    background: #e0e0e0;
    margin: 0 10px;
    border-radius: 5px;
    overflow: hidden;
}

    .progress-bar .progress {
        height: 100%;
        background: #4caf50;
    }

    .progress-bar.regular .progress {
        background: #ff9800;
    }

    .progress-bar.bad .progress {
        background: #f44336;
    }
