/* Estilo del título */
.title {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 97%;
    margin-top: -20px;
}

.container {
    width: 99%;
    margin: 20px auto; /* Centrar la página horizontalmente */
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual */
}
/* Estilos del botón */
.create-button {
    width: 140px;
    height: 40px;
    border: 3px solid #828282;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.create-button {
    background-color: #009C40;
    color: white;
    border-color: #009C40;
}

    .create-button:hover {
        background-color: #007A30;
    }


/* Contenedor del botón para alinearlo a la derecha */
.button-container {
    text-align: right;
    margin-right: 20px;
}

/* Divider style */
.divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Barra de búsqueda y texto "Buscar" alineados */
.search-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center; /* Esto ya debería centrar los elementos verticalmente */
}

.search-label {
    margin-right: 10px;
    font-size: 22px; /* Tamaño del texto "Buscar" */
    color: black;
    font-weight: bold; /* Negrita */
    line-height: normal; /* Asegura que no haya espacios adicionales verticalmente */
}

.radzen-textbox {
    width: 250px;
}

/* Asegúrate de aplicar los estilos a los botones Radzen */
.radzen-button.new-button {
    width: 140px;
    height: 40px;
    border: 3px solid #828282;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #009C40;
    color: white;
    border-color: #009C40;
}

    .radzen-button.new-button:hover {
        background-color: #007A30;
    }
/* Aplica la fuente 'Roboto' al contenido del DataGrid */
.radzen-data-grid {
    font-family: 'Roboto', sans-serif;
}

    /* Aplica la fuente 'Roboto' a las celdas del DataGrid */
    .radzen-data-grid td, .radzen-data-grid th {
        font-family: 'Roboto', sans-serif;
    }

    /* Estilo de los títulos de las columnas en negrita */
    .radzen-data-grid th {
        font-weight: bold;
    }
